[2018-01-21 17:47] nj2237 opened #1 "Add tags on homepage for easier search"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Provide users with a list of tags to choose from, on start of homepage, so that searching or learning further becomes easier. On clicking a tag, search results for that particular tag is to be displayed.

[2018-01-29 07:31] Ravikc commented on #1
Is this issue already fixed ?

[2018-01-29 08:38] nj2237 commented on #1
@Ravikc yes, please refer https://github.com/OpenGenus/quark/pull/2
we are planning to enhance it further as mentioned there.

[2018-02-07 17:51] richa208 opened #4 "Back button required"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

After searching for anything there is no back button on the page to return to previous or home page.

[2018-02-07 17:51] richa208 commented on #4
I would like to work on this

[2018-02-07 19:34] AdiChat commented on #4
Yes, this will be a nice addition.

We can go to the homepage by clicking on the logo at the top left and go back to previous searches by using the browser back button. It will be nice to have such a functionality in the search engine itself.

Go for it 👍

[2018-02-08 10:51] richa208 commented on #4
But the browser back button is disabled...

[2018-02-08 10:57] AdiChat commented on #4
I see. Yes, this feature is essential 👍

[2018-02-08 11:22] richa208 opened #5 "Filtered search results are not shown"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

On searching for any particular algorithm like bubble sort the results should include only algorithms of available bubble sort but it contains all the available sorting algorithms.

[2018-02-08 11:23] richa208 commented on #5
I would like to work on this if this issue sounds essential.

[2018-02-08 14:07] AdiChat commented on #5
Yes, getting focused search results is important. Go for it 👍

[2018-02-09 17:21] richa208 opened #7 "Showing total no. of search results"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
The total number of matching results found on searching for any algorithm could be displayed.

[2018-02-09 17:23] richa208 commented on #7
I would like to work on this..

[2018-02-09 17:34] AnkitaKhurana opened #8 "Extension Icon missing"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**

Extension Icon missing in the Extensions management page (chrome://extensions)

![image](https://user-images.githubusercontent.com/13145896/36041003-3469f58c-0ded-11e8-9f54-01fd363881f7.png)

[2018-02-09 17:35] AnkitaKhurana commented on #8
I would like to work on this, if it is required in the extension.

[2018-02-10 09:32] richa208 opened #10 "README files in search results"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**

Certain algorithms are having a README.md file also which gets dispayed during searching. But as these files are not containing any algorithmic code they should not be there in the suggestions.
![readme](https://user-images.githubusercontent.com/2520639

[2018-02-10 09:33] richa208 commented on #10
I would like to work on this issue if this sounds essential.

[2018-02-10 10:09] AnkitaKhurana opened #11 "UI issues and feature proposal"
**This is a(n):**

- [X] New feature proposal
- [ ] Reporting a keyword
- [X] Error
- [X] Proposal to the Search Engine
- [ ] Other

**Details:**

- The last row is not visible in the current UI.(eg. On clicking tag "sort" last code under merge sort is inaccessible)
- No line space after the display of the last element of any topic.(As visible in the image the last row under quicksort is too close

[2018-02-10 10:11] AnkitaKhurana commented on #11
I would like to work on this issue.

[2018-02-10 11:28] AdiChat commented on #7
Yes, showing the total number of search results will be nice. Go for it 👍

[2018-02-10 11:53] jainaman224 opened #13 "Public communication channel"
**This is a(n):**
- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**
There is a need for communication channel as quark is participating in RGSoC this year. Contributors needs platform to give suggestion and ask queries.

[2018-02-10 12:00] dimi-23 opened #14 "Adding a 'Bookmark' feature"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

There is no 'bookmark' feature in the current UI. There is a need for a star icon on each code so that when the user clicks on it, it is saved to his favorites which appear on the front page when the extension is opened.

[2018-02-10 12:01] dimi-23 commented on #14
I would like to work on this issue.

[2018-02-10 12:10] AdiChat commented on #10
We can remove the `README` files from consideration as they do not contain enough information at the moment. `Readme`s can be useful at the later stage.

Yes, you may remove them from the results. 👍

[2018-02-10 12:27] AdiChat commented on #11
Sounds good. Go for it 👍

[2018-02-10 15:16] richa208 opened #15 "Files for some codes are missing"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

In some cases not all the codes available in the github repository are being displayed in the web page.
Like for selection_algorithms, quickselect [codes](https://github.com/OpenGenus/quark/tree/master/code/code/selection_algorithms/src) are not shown w

[2018-02-10 15:16] richa208 commented on #15
I would like to works if this sounds essential.

[2018-02-10 15:38] AdiChat commented on #13
OpenGenus has a public discussion platform ([see this](https://discourse.opengenus.org)) in addition to our Slack workspace.

[2018-02-10 15:39] AdiChat commented on #14
Yes, a bookmarking feature will, greatly, enhance the learning experience. Go for it 👍

[2018-02-10 15:56] #13 closed

[2018-02-10 16:36] AnkitaKhurana commented on #11
@AdiChat
I have tried implementing the columns feature to the UI.
And fixed the mentioned errors.
Kindly review the updated UI, and suggest improvements on the same.

![image](https://user-images.githubusercontent.com/13145896/36064252-43990c66-0eae-11e8-85b4-ed8d4785779e.png)

[2018-02-10 19:02] richa208 opened #17 "Forward button required"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Similar as Back button, if we go back a few searches and now want to go again to the last searched page ie. forward, there is no such option available to go.

[2018-02-10 19:02] richa208 commented on #17
If this sounds essential, I would like to work on this.

[2018-02-11 15:21] #8 closed

[2018-02-11 20:04] AdiChat commented on #11
The UI looks good. 👍

The UI makes a good use of the available space. However, components can look highly disproportionate (in case of `sort`, the first result has 14 sub-results while the second one has only 1 sub-result).

So, we must experiment with other UIs as well.
In my opinion, you may keep two columns on the page. Each column will display the results as being displayed in the current prod

[2018-02-11 20:15] #10 closed

[2018-02-12 04:21] tsah20 opened #21 "Auto Completion in Search"
**This is a(n):**

- [X] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [X] Proposal to the Search Engine
- [ ] Other

**Details:**

Currently there is no auto-completion in the search box to guide the user. If this enhances the product, we would like to work on it.

[2018-02-12 04:22] tsah20 commented on #21
@AdiChat  Please review the suggestion

[2018-02-12 04:24] tsah20 opened #22 "Option to view Past Searches"
**This is a(n):**

- [X] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Adding the feature to view the history of visited algorithm will help  in tracking the progress

[2018-02-12 07:44] AnkitaKhurana commented on #11
Thanks for the suggestions. :+1:
I have implemented the 2 sub columns approach to divide total queries into halves, to reduce long lists.
Also reduced the result sections to two columns in one page as required.
Kindly review the changes,

![image](https://user-images.githubusercontent.com/13145896/36087018-d6a61178-0ff5-11e8-894b-4fe44c87a104.png)

*************************************************

[2018-02-12 16:29] AdiChat commented on #11
In the above design, the problem of a disproportionate component might occur as well.

I meant a design like this:

![pre](https://user-images.githubusercontent.com/10634210/36107290-924b2c08-103f-11e8-986c-d783d7544e17.png)

Also, note that there is no alignment between the two columns. 👍

[2018-02-13 03:54] #7 closed

[2018-02-13 13:48] richa208 commented on #22
Can you please elaborate your issue? Because I am also working on the similar issue.
You can take a look at #9.

[2018-02-14 13:26] pragyach opened #23 "Unnecessary redirecting to new window"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

If user clicks anywhere in the blank right side of the page another tab opens up with the corresponding algorithm in that line even if the user did not meant to open it.
If this error is found suitable I would like to work on it.

[2018-02-16 14:31] dimi-23 opened #24 "'Help' option"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

There is no ‘Help’ option on the main screen which summarizes the user of the various features and working of the extension. A small ‘Help’ button can be added to the same.

[2018-02-16 14:31] dimi-23 commented on #24
I would like to work on this issue, if such a feature seems important.

[2018-02-16 18:20] palakjadwani opened #25 "Pages are not responsive!!"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Alignment of header and many other things in pages change disproportionately when we check their responsiveness.

[2018-02-16 20:00] AdiChat commented on #24
Yes, a `help` option will guide users in making the full use of Quark. Go for it 👍

[2018-02-16 20:20] AnkitaKhurana commented on #23
Hi,
Thanks for finding this issue the new UI has no such whitespace click problem. :+1:
Kindly check the updated code.
The issue is good to close.

[2018-02-16 20:43] AnkitaKhurana opened #26 "Offline apps in Quark"
**This is a(n):**

- [X] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Create a framework for integrating offline apps such as a calculator, a stopwatch, timezone converter and many others with the search results.

[2018-02-16 20:47] AnkitaKhurana commented on #26
![image](https://user-images.githubusercontent.com/13145896/36328477-4474e978-1388-11e8-89b9-2dc363863f0a.png)

@AdiChat
The first app calculator , Kindly give suggestions on the same.

[2018-02-16 20:50] #11 closed

[2018-02-17 05:13] richa208 opened #27 "Wrong positioning of elements"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

When we type just blank spaces in the search bar, then the alignment of image and corresponding suggestions are not in the way they should be.
![screenshot from 2018-02-17 10-37-14](https://user-images.githubusercontent.com/25206394/36338220-478e2dee-13

[2018-02-17 05:13] richa208 commented on #27
I would like to correct this.

[2018-02-17 05:17] richa208 opened #28 "Documentation"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**

Documenting CONTRIBUTING.md with contributing guidelines that would help newcomers.

[2018-02-17 05:19] richa208 opened #29 "Feedback Suggestion"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

A feedback option can be provided by which users can give feedback to quark.
This option would work only when we are online like the other links to github repositories.

[2018-02-17 05:20] richa208 commented on #29
I would like to work on this if this seems essential.

[2018-02-17 05:20] richa208 commented on #28
I would like to work on this if this seems essential.

[2018-02-17 05:24] richa208 opened #30 "Quick search option"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

A quick search option can be made by directly clicking on the extension icon ie. if user uses that option by clicking on the icon, he can type any query there and then he will be redirected directly to the corresponding page of related algorithms.

[2018-02-17 05:25] richa208 commented on #30
I would like to work on this if this seems important.

[2018-02-17 17:40] aditigupta17 opened #31 "Add a Search button"
**This is a(n):**

- [x ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Currently the search engine gets triggered only after pressing the Enter key, it is not compatible for the users using the application on phones or any other touch-screen device per se. Hence, a Search button can be deployed next to the search textbox.

[2018-02-17 18:56] AdiChat commented on #29
Yes, an option to submit feedback will be nice. You can use our [Discourse forum](http://discourse.opengenus.org/) for this purpose. Go for it 👍

[2018-02-17 18:59] AdiChat commented on #28
Yes, documentation is important. Go for it 👍

[2018-02-17 19:04] AdiChat commented on #26
The design is perfect. 😍

[2018-02-17 19:14] AdiChat commented on #27
Yes, go for it 👍

[2018-02-18 09:44] palakjadwani commented on #25
I would like to work on it if it's needed.

[2018-02-18 10:36] simran-pandey opened #33 "Centrally placed Search Box."
**This is a(n):**

- [X] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
Having a bigger and centrally placed search box would further improve the browsing experience. Images in the center are not adding much to it.

[2018-02-18 11:04] palakjadwani commented on #25
![screenshot 331](https://user-images.githubusercontent.com/28923222/36351054-8d0a98d0-14c9-11e8-9728-d9fa6c0f474d.png)
I can fix this if needed!

[2018-02-18 11:05] palakjadwani commented on #31
Yes we can a search button alongside the search bar. I can work on it if needed.

[2018-02-18 11:16] palakjadwani commented on #25
![screenshot 332](https://user-images.githubusercontent.com/28923222/36351147-333bd074-14cb-11e8-9186-3725639b8472.png)
On varying screen size and checking it on different devices UI changes. I would like to work on it.

[2018-02-18 11:53] jainaman224 commented on #25
I think addition of bootstrap or media query will be a good addition. But the question is what can be the minimum size of screen as mobile browser doesn't support extensions.

[2018-02-18 12:04] palakjadwani commented on #25
Hello!

That is exactly what I intend to do. Even if it does not support mobiles if
any user minimizes the screen size the UI is disaligned. In my opinion it
should be done.

On 18 Feb 2018 5:23 pm, "Aman Jain" <notifications@github.com> wrote:

[2018-02-18 13:22] aditigupta17 commented on #31
I have taken this up.

[2018-02-18 14:49] dimi-23 opened #34 "Keep search box static"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Currently while scrolling, the search box gets vanishes. If the user has to search again, he/she has to scroll all the way up. This can be modified and the search box can be made static while scrolling to facilitate ease of use.

[2018-02-18 14:49] dimi-23 commented on #34
I would like to work on this issue.

[2018-02-20 07:15] simran-pandey opened #36 "New User Interface for Homepage"
**This is a(n):**

- [X] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [X] Proposal to the Search Engine
- [ ] Other

**Details:**

![quark_sample](https://user-images.githubusercontent.com/31364051/36411096-f1a36b98-1639-11e8-9fc2-627ef0030444.png)
![quark_sample1](https://user-images.githubusercontent.com/31364051/36411099-f1d65814-1639-11e8-97b3-50a0dd36880c.png)
- Having a bigge

[2018-02-20 10:01] AnkitaKhurana opened #37 "Enhance User Learning"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
Right now quark only provides learning from codes in the 'code/' directory.
Learning experience can be enhanced by providing the user with some small information about the search Headings the code belongs to.

For Example:
 When the user searches for "ar

[2018-02-20 10:12] AnkitaKhurana commented on #37
I would like to work on this if it is required.

[2018-02-20 15:49] #14 closed

[2018-02-20 19:53] Aditi574 opened #40 "Display Results of Offline Search in Alphabetical Order"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**

As of now the results of an offline search are visible on the screen in a random order (image attached). A better idea will be to sort these results alphabetically so that it becomes easier for the user to scroll to the desired topic directly rather tha

[2018-02-21 14:44] monikasingh20 opened #41 "Dropdown feature for fast search retrival"
**This is a(n):**

- [ we are looking forward to add a dropdown for fast retrival of search query.This feature would display all possibility of search according to users entry of letter in search box .
Can we go for it??  ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-02-21 15:27] monikasingh20 commented on #34
I wanted to contribute on this feature.

[2018-02-21 15:39] monikasingh20 opened #43 "Display sorted time complexity algo"
**This is a(n):**

- [Displaying the algos list on the basis of respective time complexity order, this might help to find which algo is better. ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-02-21 15:39] monikasingh20 commented on #43
I wanted to work on it.

[2018-02-21 16:11] monikasingh20 opened #44 "Add button for online code compilation"
**This is a(n):**

- [We can add a button for online compilation of code. This would require internet connection. If  user is not online , in that case a display of error in internet connectivity can be displayed.] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-02-21 16:11] monikasingh20 commented on #44
Can i work on this issue???

[2018-02-22 07:04] #24 closed

[2018-02-22 07:10] Aditi574 commented on #40
@AdiChat should I start working on this?

[2018-02-22 07:23] AdiChat commented on #30
Currently, on clicking the extension icon, the user is directed to the search engine page where users can make any particular search. If this is implemented, the direct access to the homepage may be hindered.

Instead, you may work on implementing a feature whereby right-clicking a highlighted word on any webpage, an option like `Search in Quark` may appear.

[2018-02-22 07:32] AdiChat commented on #37
Yes, this will be a nice feature. Go for it :+1:

[2018-02-22 07:33] AdiChat commented on #36
The above UI along with the mentioned features are perfect. It will improve the learning experience. Go for it :+1:

[2018-02-22 07:36] AdiChat commented on #40
Yes, getting results in a sorted order will help in an ordered learning experience and remove the current uncertainty. You may work on this. :+1:

[2018-02-22 07:39] AdiChat commented on #21
Yes, this will be a useful feature and result in a guided learning experience. It looks like there exists a pull request regarding this feature. :+1:

[2018-02-22 08:13] AdiChat commented on #43
Yes, this will be a useful feature.
We need to map algorithms (from meta-data) to complexity in a convenient format for this to work. Go for it :+1:

[2018-02-22 08:28] dimi-23 opened #47 "Creating expandable buttons"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

When a user searches for a keyword, all the languages for all search results are displayed at once. They can be converted into clickable buttons as shown:
<img width="947" alt="ui" src="https://user-images.githubusercontent.com/28829807/36527607-5f866a0

[2018-02-22 08:29] dimi-23 commented on #47
I would like to work on this if it seems important to you.

[2018-02-22 08:40] AdiChat commented on #44
Yes, this will, greatly, enhance the user experience. :smile:

For this, are you planning to use an API or set up a server to achieve this?
In the case of the dedicated app, we can provide the required resources like hosting space and others. Building such an application will be simple and will be required to set up the server for all supported language environments.
APIs can be integrated easily

[2018-02-22 09:49] richa208 commented on #17
@adiChat Can this feature be added in Quark along with a Home button feature that could take user to the home page directly?

[2018-02-22 12:28] richa208 commented on #30
Can you please suggest some idea through which I could redirect the user from an online page to an offline extension because I am having some doubts like for this purpose user needs to be online and also as Quark is an offline extension how would we redirect him here.
Kindly give your suggestions.

[2018-02-22 17:05] Sakshi183 opened #49 "Continuously improvements in the code"
**This is a(n):**

- [ We can have different codes of the same algorithm online in the same language and a voting feature.
The algorithm with highest vote will be a part of the offline extension.Moreover, whenever user connects to internet the chrome extension will get synced  with the one with highest votes.] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search

[2018-02-22 17:06] Sakshi183 commented on #49
I want to work on this issue.

[2018-02-22 17:10] monikasingh20 commented on #44
we thought of using API for online code compilation.

[2018-02-22 17:28] palakjadwani commented on #25
@AdiChat Kindly let me know if this is needed.

[2018-02-22 18:35] AdiChat commented on #25
You may work on this as this will aid in providing perfect UI for other platforms as we move to them :+1:

[2018-02-22 20:33] richa208 opened #50 "Error in footer and enhancement in bookmark star"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**

Footer should be exactly at the bottom of the page but here it leaves some space after it because it is positioned according to the contents of the page.
![pic1](https://user-images.githubusercontent.com/25206394/36562637-9adea614-183d-11e8-9af5-ae07a6f

[2018-02-22 20:34] richa208 commented on #50
I would like to correct this.

[2018-02-22 21:09] Sakshi183 commented on #34
I have fixed the static search bar issue.Please suggest if any changes are required.

[2018-02-22 21:48] Sakshi183 opened #52 "Display codes of particular language"
**This is a(n):**

- [ Add a dropdown menu having a list of all the different languages and clicking on any language would display all the algorithms coded in that particular language.] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-02-22 21:49] Sakshi183 commented on #52
I am interested in working on this issue.

[2018-02-22 22:12] monikasingh20 opened #53 "Online discussion forum"
**This is a(n):**

- [ we would like to create an online discussion forum for asking any doubts clarifications. Then we would link this discussion forum with our quark extension. Discussion forum will include signup/login for user authentication.

 ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-02-22 22:14] monikasingh20 commented on #53
Can we proceed with this issue? I am interested in working on this issue.

[2018-02-23 06:53] Aditi574 opened #54 "Commits with same message"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x ] Other

**Details:**

The following 4 commits have the same commit message and can be merged into one.
https://github.com/OpenGenus/quark/commit/8c3be91b7de26977bd7852ffb67cc95c48e87fcd
https://github.com/OpenGenus/quark/commit/e64b46e3598f66872182f4e050c44c2326a0033b
https

[2018-02-23 06:53] Aditi574 commented on #54
Hi @AdiChat Please review this.

[2018-02-23 08:27] Sakshi183 commented on #43
I  am Sakshi Sharma (Sakshi183).I am  monikasingh20 's team mate.I have sorted algorithms according to time complexity.The files for the same are in #51 pull request(Static search bar).

[2018-02-23 11:16] Sakshi183 opened #57 "Adding autocorrect in the searchbox"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ We need to correct the spelling mistakes made by the user to enhance user experience.Example if we type bubbble instead of bubble in search box we do not get any results.We can  give suggestions to the user based on the keywords that we have. We can also do autocorrect without showing any message and show resul

[2018-02-23 11:17] Sakshi183 commented on #57
I and my team mate are interested in working on this issue.

[2018-02-23 16:09] dimi-23 opened #59 "Download Code Button"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

A new 'Download' button can be added beside the favorite icon to help the user download the code and save it to his/her local computer directly.

[2018-02-23 16:09] dimi-23 commented on #59
I would like to work on this issue, if essential.

[2018-02-23 16:14] #41 closed

[2018-02-24 09:52] simran-pandey commented on #52
@Sakshi183 Hi, I am already working on this issue (#36)

[2018-02-24 09:55] dimi-23 opened #63 "Night Mode"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

A 'night mode' option can be added to help the user reduce strain on eyes. This option will change the color scheme and can be toggled any time the user feels like.

[2018-02-24 09:55] dimi-23 commented on #63
I will work on this issue if it seems essential to be added to the extension.

[2018-02-24 11:11] #28 closed

[2018-02-24 13:33] AnkitaKhurana opened #64 "Organised Favourites"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

The favorites display area can be enhanced for easy searching and sorting of favorites to make it more systematic -
- Sorting them according to date/time added
- Code Language
- Area(topic) they belong to

[2018-02-24 13:34] AnkitaKhurana commented on #64
I would like to work on this enhancement for the extension.

[2018-02-24 17:54] palakjadwani opened #65 "Search by voice"
**This is a(n):**

- [x ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-02-24 18:27] palakjadwani commented on #65
@AdiChat I want to work on this if needed.

[2018-02-24 20:20] richa208 opened #66 "Clearance option"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

A clearance option in the form of 'cross button' in the text box so that the user does not need to use backspace every time to type another query.

[2018-02-24 20:20] richa208 commented on #66
I would like to do this if this seems essential.

[2018-02-25 08:24] AdiChat commented on #65
Providing the ability to search by voice :speaking_head:  will be a useful feature. Go for it :+1:

[2018-02-25 08:25] AdiChat commented on #63
Yes, this will be a useful feature. Go for it :+1:

[2018-02-25 08:27] AdiChat commented on #64
Sure. Go for it :+1:

[2018-02-25 08:28] AdiChat commented on #57
Yes, this will aid the user in searching. Go for it :+1:

[2018-02-25 08:34] AdiChat commented on #53
We use [our Discourse forum](https://discourse.opengenus.org/) for discussions. This can be linked to user queries.

You may use the search term to find related posts in our forum and embed the top post and provide a link to the searched page. If there are no results, embed a default post and encourage the user to create a new post.

This will be a useful feature and aid the user in learning. Go f

[2018-02-25 16:50] #29 closed

[2018-02-25 20:30] #40 closed

[2018-02-26 04:09] #23 closed

[2018-02-26 16:01] AasthaGupta opened #70 "Directory indexing for creating search database"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [X ] Other

**Details:**

Currently all the search database is stored in `obj`. All the search entries are hard-coded in popup.js. It seems both unscalable and tedious to maintain for large search entries.

1. It can be replaced with directory indexing.
2. The chrome extension

[2018-02-26 16:03] AasthaGupta commented on #70
@AdiChat I'd like to know about your opinions on this idea. I'd be happy to discuss it. :)

[2018-02-26 17:21] Aditi574 opened #71 "Color of book mark icon"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [x ] Proposal to the Search Engine
- [ ] Other

**Details:**

If we place the star icon to the left of serial no. of each entry, it would look much organized.
Also, the color of the star icon should match with the UI i.e. yellow.

[2018-02-26 17:34] Ruchika8 opened #72 "Adding metadata about the algorithm followed by implementation in different languages"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [x] Proposal to the Search Engine
- [ ] Other

**Details:**

I mainly like reading up about the algorithm while searching through the implementation in my language of choice. So adding data from Wikipedia or Geeks for Geeks about the algorithm with links for further reading would be a good feature to have.

[2018-02-27 16:38] #26 closed

[2018-02-28 18:45] richa208 opened #74 "Updating ISSUE_TEMPLATE.md"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**

We can add more details while creating a new issue like what is the current behaviour due to this issue and what it should be actually or a checkbox if user wants to work on this issue and other similar options that would make the issue more clear.

[2018-02-28 18:45] richa208 commented on #74
I would like to make this update if it is required.

[2018-03-02 11:53] #47 closed

[2018-03-03 07:01] AnkitaKhurana opened #75 "Update README.md Files"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**
Currently, the `README.md` files in many Algorithm folders are incomplete and need maintenance.

Example README.md file : https://github.com/OpenGenus/quark/blob/master/code/code/sorting/src/merge_sort/README.md

[2018-03-03 07:02] AnkitaKhurana commented on #75
Contributors who wish to work on this can refer to this issue and make Pull requests mentioning the Algorithm details added by them.

Pull Request Template : https://github.com/OpenGenus/quark/blob/master/.github/PULL_REQUEST_TEMPLATE.md

For more help refer: https://github.com/OpenGenus/quark/blob/master/.github/CONTRIBUTING.md

[2018-03-04 01:12] AdiChat commented on #74
Sure. Go for it :+1:

[2018-03-04 01:18] AdiChat commented on #70
Sounds good.

The code needs refactoring. In the current scenario, we generate the metadata (that is `obj`) through Cosmos-Search. Changes in the directory will break it but it is unlikely that a user will do so. Still, having an update system will be a nice and safe feature to have.

[2018-03-04 14:10] #59 closed

[2018-03-04 14:28] dimi-23 opened #78 "Set Default User Language"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

A Settings button can be provided where-in if the users like, they can permanently set the language(s) which are preferred by them so that they do not have to go through codes of languages which they do not need. These settings can be made flexible to t

[2018-03-04 14:29] dimi-23 commented on #78
I would like to work on this feature.

[2018-03-04 19:39] #50 closed

[2018-03-05 08:55] palakjadwani opened #80 "Link to input and output format"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-03-05 08:56] palakjadwani opened #81 "Write up about the questions"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

[2018-03-05 09:01] palakjadwani commented on #81
I would like to work on it.

[2018-03-05 09:01] palakjadwani commented on #80
@AdiChat I would like to work on it.

[2018-03-05 15:03] nj2237 opened #83 "Bug found on Favorites tab"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [X] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

On double-clicking the 'Favorites', two columns of bookmarks appear.

![opengenus-fav-bug](https://user-images.githubusercontent.com/12426728/36981710-dc585076-20b3-11e8-8684-5594a951442c.png)

[2018-03-05 16:37] AnkitaKhurana commented on #83
Hi @nj2237
Thank you for pointing this out.
I tried to double click on the button to try this issue.
This is what I found.
![bmark](https://user-images.githubusercontent.com/13145896/36986940-2e924b6e-20c1-11e8-8138-069682b94340.gif)

It worked fine on my browser, so I checked the code to find the possible issue - the fav button calls
`addFavorites` function which clears the 'Favorites area' befor

[2018-03-05 17:26] AnkitaKhurana opened #84 "Old Screenshot in Project README.md"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**
The official Quark's Chrome Extension (https://chrome.google.com/webstore/detail/opengenus-offline-search/lfoloadpfjildomeafpdopahkdaoofbn) has been updated with new features like Favourites, Offline apps, Help button and so much more.
The README.md file

[2018-03-05 19:41] AdiChat commented on #81
Yes, providing short descriptions will be a nice feature.

Ideally, we intend to store algorithmic details in the concerned `readme`s. One option would be to associate a description with the available tags (use tags.json in Cosmos-Search). Let us know your approach towards this feature.

Sure, you may proceed with this feature. :+1:

[2018-03-05 19:44] AdiChat commented on #80
This feature will improve the usability of the available codes.

An issue might be that the input and output format is not constant throughout the data-store. We can define a specific format for input and output and maintain such data from now onwards. Let us know your approach towards this feature.

Sure, you can work on this :+1:

[2018-03-05 19:49] AdiChat commented on #78
This will be a nice feature. Most users will be concerned with a small number of languages. If a code is not available in the user's chosen languages, then we may show implementations in other languages as it will guide the user in developing his/her implementation and other purposes.

Sure, go for it :+1:

[2018-03-06 08:03] #74 closed

[2018-03-06 09:34] Aditi574 opened #85 "Contribution/ Suggestion box"
**This is a(n):**

- [x ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

A suggestion box can be placed on the screen wherein a user can either place request for a code in particular language, suggest a feature which they want to see or contribute a code which currently doesn't exist.

**Expected Behavior**:

**Actual Behav

[2018-03-06 14:44] nj2237 commented on #83
Hi @AnkitaKhurana Thanks for checking this! I am using - Chrome Version 64.0.3282.186 (Official Build) (32-bit) on Windows.

I checked on my Linux with the Chrome Version 64.0.3282.186 (Official Build) (64-bit) too. Here I am not getting this bug either.

What do you think?

[2018-03-06 15:36] nj2237 opened #86 "Test folder code should not appear together with search results"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [X] Other

**Details:**

We have tests folder for all code (currently only few such as sort and search have tests), which tests the algorithms with pre-defined input and compares the output and prints 'pass' accordingly.

While user searches for code, the results from this test

[2018-03-06 17:09] nj2237 opened #87 "Fluid design for Quark"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [X] Proposal to the Search Engine
- [ ] Other

**Details:**

Currently, all the elements do not scale appropriately with change in window or browser size. We can incorporate fluid web design principles if this seems essential.

Since this is a Chrome Store browser extension and laptop screen sizes are not that di

[2018-03-06 17:11] nj2237 commented on #87
@AdiChat I would like to work on this if this seems essential. What do you think?

[2018-03-06 17:45] #27 closed

[2018-03-07 09:05] AdiChat commented on #85
Currently, we are collecting feedback at [this Discourse forum](https://discourse.opengenus.org/t/feedback-for-quark/125/3) whose link is present at the help option.

If you have a better design in mind that uses the above post, then let us know and feel free to work on it.

[2018-03-07 09:09] AdiChat commented on #87
Yes, this will be great. Go for it :+1:

[2018-03-07 09:43] monikasingh20 opened #88 "Error in Favourite feature"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [Error in Favourite feature.] Error
- [ ] Proposal to the Search Engine
- [ ] Other

Description:

After selecting favourite option for any code , and then clicking on the same file , it's not showing the required code in browser.
@AdiChat please review this error, suggest if it is a valid error or not.

![screenshot from 20

[2018-03-07 09:44] monikasingh20 commented on #88
@AdiChat please review this error, and suggest can we work on this issue.

[2018-03-07 10:23] richa208 commented on #88
Hi @monikasingh20
It is working fine for me and there is no such error coming.
I guess you can look up  [here](https://windowsreport.com/type-of-file-can-harm-computer/) for help. :+1:

[2018-03-07 15:59] richa208 opened #90 "Error due to Favourites"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

In some specific cases, clicking on Favourites tab produces unfavourable issues.

**Expected Behavior**:

1. Enter any random word for which there is no algorithm in quark (or enter space) -> Select Favourites in the generated page -- the result is show

[2018-03-07 16:00] richa208 commented on #90
There are some missing lines of codes because of which this is happening.
I would like to rectify them.

[2018-03-08 04:43] AnkitaKhurana commented on #83
Hi, @nj2237 is the error still there?
If yes, this might be happening due to asynchronous calls to the functions.
The `addFavourites` is being called in an unexpected order. Thereby the `.empty()` function is not working properly.
If you are working on this issue :
Try adding
- `Callbacks` in the code; they help in handling functions to make them synchronous if the default nature is asynchronous
-

[2018-03-08 07:20] AnkitaKhurana opened #92 "Footer changes made in merged Pull Request needs Correction"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

This footer fix in https://github.com/OpenGenus/quark/pull/62 is not working properly in this merge. I have uploaded a Demo file to show the errors.
Issues :
- The last row results are hidden in many search queries
- The expanded Results also hide in ma

[2018-03-08 16:06] nj2237 commented on #83
Hi @AnkitaKhurana Yes, the error is still there.
I will look into the code like you've suggested and implement a fix for this. Thanks a lot!

[2018-03-09 12:31] AdiChat commented on #66
Sure. Go for it. :+1:

[2018-03-09 21:32] AdiChat opened #93 "Add ability to share Quark"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Incorporate the ability to share the link to Quark in Chrome Web Store ([this](https://chrome.google.com/webstore/detail/opengenus-offline-search/lfoloadpfjildomeafpdopahkdaoofbn)) to social media platforms. The sharing icons may appear below the tags.

Initially, you may support 4 platforms namely: Twitter, Google+, F

[2018-03-09 21:34] AdiChat commented on #92
Yes, this needs to be resolved. :+1:

[2018-03-09 22:53] richa208 commented on #93
Yes that will be a great feature for Quark and will make it more known also.
I would like to work on this feature.

[2018-03-10 04:42] AnkitaKhurana commented on #93
Yes sharing Quark on social media is the best way to increase the user's community. I would love to work on this, and added to the `Assignees` of this feature.

[2018-03-10 06:14] #84 closed

[2018-03-10 06:14] #64 closed

[2018-03-10 06:38] richa208 commented on #93
Hi @AnkitaKhurana
I have started working on this. Could you please look into some other issue.

[2018-03-10 07:57] AnkitaKhurana opened #94 "Clear All Favourites"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
Right now user needs to manually delete each favorite by clicking on the star icon next to the favorite.
An option to clear all favorites with one single click.

**Expected Behavior**:
A `Clear All Favourites` button, to delete all user saved favorites.

[2018-03-10 12:53] AnkitaKhurana commented on #94
A Pull Request for the same is made.
If the issue seems useful for quark and it's users the PR is: https://github.com/OpenGenus/quark/pull/98
@AdiChat kindly review the changes :+1:

[2018-03-10 17:52] Sakshi183 opened #99 "Improvement In algorithm"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
-  Proposal to the Search Engine
- [ ] Other

**Details:**
Presently the algorithm searches linearly through the entire path .It is also unable to show results for may queries like 'binary.search' 'binaary' etc. We need to improve the search Algorithm.We can show results for misspelt words also. I want to implement

[2018-03-10 17:53] Sakshi183 commented on #99
@AdiChat Shall I proceed with implementing fuzzy search.

[2018-03-10 18:08] monikasingh20 opened #100 "Improved version of calculator"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
-  Additional features for calculator.

**Details:**
1) Simple calculator can be converted into scientific one having more options for operation.
2) Back button can be added for element by element deletion .
3) keyboard input can also be implemented.

Would you like to work on th

[2018-03-10 18:09] monikasingh20 commented on #100
@AdiChat can i work on this issue???

[2018-03-11 04:00] AdiChat commented on #99
Sure. Go for it :+1:

[2018-03-11 04:00] AdiChat commented on #100
Sure. Go for it :+1:

[2018-03-11 05:22] #92 closed

[2018-03-11 18:28] nj2237 commented on #83
@AdiChat I have created a PR that fixes this. Have tried it on both my Linux (where the bug was not there) and my Windows (where it was there).

@AnkitaKhurana Thank you for the suggestions, I had tried callbacks, but could not fix until I added a Promise that resolved it. The behavior was exactly equivalent to calling `addFavorites()` twice (I called it twice in the code and single-clicked and pu

[2018-03-11 18:34] monikasingh20 opened #104 "Adding gitignore file"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- Adding gitignore file

Details:

While making any new commits , extra files like .DSstore etc  even git added up which are not in use, so it requires manual work to remove those files.
but by adding .gitignore file to our repository it would automatically ignore the untracked f

[2018-03-11 18:34] monikasingh20 commented on #104
@AdiChat I would like to work on this issue.

[2018-03-11 18:42] AnkitaKhurana commented on #83
@nj2237 you are welcome :+1:
Glad I could help :tada:

[2018-03-11 19:22] #88 closed

[2018-03-12 01:29] monikasingh20 commented on #43
I my teammate Sakshi Sharma would like to contribute on this issue. Earlier u mentioned someone  else was working on this issue, in #51 pull request .but we could'nt find any updates....

If u permit us to contribute on this issue. We would like to work on this..as it seems useful feature.

[2018-03-12 17:03] AdiChat commented on #104
Sure. Go for it :+1:

[2018-03-14 04:26] MansiNegi27 opened #108 "Improper Orientation elements in the time zone converter"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ x] Other

**Details:**

1)The input boxes of the converter change their orientation after clicking.

**Expected Behavior**:

1) Input boxes should not change their positions.
**Actual Behavior**:

**Screenshots (if any)**:
![image](https://user-images.githubusercontent.com/33

[2018-03-14 04:27] MansiNegi27 commented on #108
@AdiChat Can I work on this issue?

[2018-03-14 04:39] sarahshrivastava opened #109 "Add autocomplete feature in the search box"
**This is a(n):**

- [ x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

1) While entering a word halfway, there should be suggestions of the complete word.
2)If the word is not submitted completely, closely available options should be suggested.
**Expected Behavior**:

**Actual Behavior**:
1) the user has to enter the whol

[2018-03-14 04:40] sarahshrivastava commented on #109
@AdiChat Can I work on this issue?

[2018-03-14 14:06] AdiChat commented on #108
Sure. Go for it :+1:

[2018-03-14 15:22] AdiChat commented on #109
Auto-completion is a nice and convenient feature. A pull request has been sent for this.

You should work on other feature/ enhancement. You may take a look at some other feature issues that are pending and discuss with the original poster. :+1:

[2018-03-14 15:48] #94 closed

[2018-03-14 16:01] dimi-23 opened #110 "Scroll to Top on button click"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:** Add a floating button to enable the user to scroll to top.

**Expected Behavior**: When reaching at the bottom of the page, a floating button should pop up to enable the user to go to the top on the click of a button.

**Actual Behavior**: After scrollin

[2018-03-14 16:02] dimi-23 commented on #110
@AdiChat kindly tell if the issue if significant to be worked on, I would like to work on it.

[2018-03-14 16:20] AnkitaKhurana opened #111 "Dynamically Refresh Bookmarks"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**
The stars in the favorites list when used to delete a code area requires recalling of favorites area to see the change.
The area should be updated as soon as any favorite is added or deleted in the list.

**Expected Behavior**:
On clicking Favorited code

[2018-03-14 18:48] AnkitaKhurana opened #113 "Display Number of Total Saved Favourites"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
The Total number of favorites user has saved in the favorites area.

**Expected Behavior**:
There will be a sentence above the favorites table showing total favorites.

**Actual Behavior**: N/A

**Screenshots (if any)**:N/A

**Would you like to work on t

[2018-03-14 19:06] AdiChat commented on #110
Search results will increase as we go on to tap into different resources. Also, at present, a lot of results are returned for general search terms. This will be a nice addition. Go for it. :+1:

[2018-03-14 19:08] AdiChat commented on #111
Sounds good. Go for it :+1:

[2018-03-14 19:15] AdiChat commented on #113
Sounds good. Go for it :+1:

[2018-03-15 03:26] sarahshrivastava commented on #109
Sure👍

[2018-03-15 06:29] richa208 opened #115 "Help modal is not responsive"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
Help modal is not responsive.

**Expected Behavior**:
On changing the screen size the modal should resize accordingly to aid users.

**Actual Behavior**:
On resizing the window, help modal does not resize and the scroll bar also doesn't allows to view th

[2018-03-16 23:35] #30 closed

[2018-03-18 07:12] #110 closed

[2018-03-18 09:51] Shreya18031997 commented on #65
@Adichat I want to work on this issue..

[2018-03-18 16:51] #90 closed

[2018-03-20 21:17] #115 closed

[2018-03-21 04:32] #66 closed

[2018-03-22 12:08] #111 closed

[2018-03-22 22:53] AdiChat opened #122 "Record time spent on various sites"
**This is a(n):**
- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Record the time :clock10: spent by the user on various domains.

A separate page must be listing this data for the user to arrive at his/her own insights.

We can use this data to provide useful insights to the user and develop an understanding of the me

[2018-03-23 04:12] AnkitaKhurana commented on #122
I would like to work on this.

[2018-03-23 16:28] AdiChat commented on #122
Sure. Go for it :+1:

[2018-03-25 00:27] #5 closed

[2018-04-15 09:35] AdiChat commented on #86
Yes, the test folders do not directly address the query.

[2018-04-15 10:04] AdiChat opened #124 "Add Offline games to Quark"
**This is a(n):**
- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Add offline games :video_game:  to Quark. :+1:

The task involves you to integrate simple JavaScript games.
You need to prepare the html, css and js files for the game which will be accessible at (`/<game-name>.html`). You need to link it from the front

[2018-04-25 10:32] mag92 opened #127 "Changing links to relative paths instead of heading slash"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

I'm proposing changing the links for the files to be relative instead of the heading slash (/path...) which directs to server root. I think relative path shouldn't make a problem.

**Expected Behavior**:

404s.
**Actual Behavior**:
Links are misleading

[2018-04-28 13:30] amitguptagwl opened #128 "Offline API documentation"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
I work on many programming /scripting languages. Hence mix their syntaxe. It's more frustrating when I'm out of Internet because of xyz reason.

I wonder if we can bring API documentation of famous libraries also offline. Eg. devdocs.io , previously this

[2018-04-29 00:14] amitguptagwl commented on #128
Sure, I'll start it in few days. And will update you with the progress.

[2018-04-29 03:11] amitguptagwl commented on #128
I'm also wondering if we should keep documentation version wise. And if there is any small change then should we maintain the whole copy for another version or just the change?

It'll be little tricky to implement but can save a lot of space. In addition, it can also compare multiple versions for changes.

[2018-04-29 14:35] AdiChat commented on #128
Yes, for different versions of the same documentation, we must store only the difference. This will improve the setup time and will result in great features like comparing different versions, analysing progress of various technologies and others. :+1:

For most basic users, the latest version of a documentation should address the majority of the queries. Different versions will be useful for advan

[2018-04-30 07:13] amitguptagwl commented on #128
I've just checked and found that [dedocs](https://github.com/freeCodeCamp/devdocs) is already open source and works offline once cloned locally. So I believe there is no need to create another repo.

Going further, I've created a [collection](https://github.com/amitguptagwl/offline) for such tools.

[2018-04-30 13:07] AdiChat commented on #128
Okay :+1:

Our approach towards solving this problem is more general and goes beyond documentation.
If anyone wants to work on this feature, free feel to let us know and go for it. :smile:

[2018-04-30 13:18] amitguptagwl commented on #128
I believe you mean version difference. What should be the end result in that case? As the process will be automated, what we can show is just text difference. We can't actually say which api is added, removed, or updated.

let me know what do you think.

[2018-05-14 10:45] AnkitaKhurana opened #130 "Wrong words detected in background"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:** The content script made in https://github.com/OpenGenus/quark/pull/73 is taking words in between the words.
For example: **trie** is detected in re**trie**ved

**Expected Behavior**:
Spaces and punctuations must be checked along with the word search.

**

[2018-05-14 15:05] richa208 commented on #130
Hi @AnkitaKhurana
I was aware of this error when I was trying to add this feature. But the solution I gave was the best possible solution that I could find (which included this error).
So I would be very happy if you could come up with the solution to remove this error.

[2018-07-06 08:17] sahitpj opened #142 "Auto Suggestions for the Search Bar"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

Auto suggestions for the search bar

**Expected Behavior**:

**Actual Behavior**:

**Screenshots (if any)**:

**Would you like to work on this issue?**

- [x] Yes
- [ ] No

[2018-10-02 10:57] AdiChat opened #147 "Add 2048 game"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add **2048 game** to the Quark extension

[See this pull request](https://github.com/OpenGenus/quark/pull/141) to understand how to add a game. It is easy :smile:

:speaker: You can, also, write about it at OpenGenus IQ and become a part of **OpenG

[2018-10-16 09:19] artus commented on #147
I'm taking this up!

[2018-12-11 07:18] pratiksinghchauhan commented on #142
Hi, I want to take up this issue, Please let me know.
Thanks

[2019-01-13 21:29] ghost opened #153 "UI Improvement"
**This is a(n):**
- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**
Would like to propose a change to the UI of the main page, making it more modern/clean as well as responsive. Open to suggestions and constructive criticism!

**Screenshots:**
![Quark Mockup](https://user-images.githubusercontent.com/25515279/51090821-3ec

[2019-01-29 05:42] wyy-zsh opened #154 "你好"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

**Expected Behavior**:

**Actual Behavior**:

**Screenshots (if any)**:

**Would you like to work on this issue?**

- [ ] Yes
- [ ] No

[2019-01-29 05:42] wyy-zsh commented on #154
能回复下我邮件或者加我微信吗 18892080841 有几个问题想请教下

[2019-08-02 07:11] iamrajiv opened #156 "improper loading of logo and buttons when run quark locally"
**This is a(n):**

- [x] Error

**Details:**

When running Quark locally in my system by opening `popup.html` it loads differently as compared to live Quark chrome extension. In local Quark i.e. after cloning the code and running in system locally, the logo does not load and there is `Go` button in local Quark but it is not there in live chrome extension of Quark.

**Screenshots (if any)**:

![liv

[2019-10-07 21:07] hpnightowl opened #164 "Add T-Rex Color Change"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**
When T-Rex Touches Any Object Then T-Rex Color Should Change To Red.

**Would you like to work on this issue?**

- [x] Yes
- [ ] No

[2019-10-09 07:14] CaptainLazarus opened #165 "Making it a firefox extension"
I couldn't find a firefox extension for quark so till now I've loading it as a temporary extension. I presume that it hasn't been made as a one. All that needs to be done is packaging it and sending to mozilla for approval.

**This is a(n):**
- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Screenshots (if any)**:

![Screenshot fro

[2019-10-09 07:48] CaptainLazarus commented on #156
I guess this has been fixed because I tried reproducing it and it isn't getting reproduced. I wouldn't actually reccomend running it like that though because the engine doesn't work when used like that.

[2019-10-12 17:17] #156 closed

[2019-10-24 19:36] carolinemusyoka commented on #164
I`d like to try this

[2020-03-29 08:27] ArpithaMalavalli opened #172 "Back button on feature pages"
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [x] Proposal to the Search Engine
- [ ] Other

**Details:**

The page has a menu in the right side listing features like Favourites, Activity, Games, More Apps etc. When clicked the corresponding page opens in a new tab every time and does not have an option to go back to the main page on the same tab.

**Actual

[2020-04-10 10:14] subhadeep1912 commented on #124
hi can i still work in this issue?

[2020-05-14 22:34] quiyetbrul commented on #122
There's some logic error when calculating the time spent on the web.

![Screen Shot 2020-05-14 at 3 31 59 PM](https://user-images.githubusercontent.com/34882290/81992326-0f56db80-95f8-11ea-9be8-5ffb07dde814.jpg)

[Quark.pdf](https://github.com/OpenGenus/quark/files/4631268/Quark.pdf)

[2020-05-27 18:51] quiyetbrul opened #174 "Search Engine Triggers on random clicks."
**This is a(n):**

- [ ] New feature proposal
- [ ] Reporting a keyword
- [x] Error
- [ ] Proposal to the Search Engine
- [ ] Other

**Details:**

I was updating my Linkedin profile, and when the search engine got triggered and opened a new tab when I clicked on a hyperlinked text

**Would you like to work on this issue?**

- [ ] Yes
- [x] No

[2020-10-09 13:28] backbencher00 commented on #165
I would like to work on this

[2021-02-04 09:55] viaahmed opened #176 "Offline-the-page, Plugin for Obsidian.md"
**This is a(n):**

- [x] New feature proposal
- [ ] Reporting a keyword
- [ ] Error
- [ ] Proposal to the Search Engine
- [x] Other

**Details:**

Like your endeavor for an offline internet, Obsidian.md [Click here to goto its homepage](https://obsidian.md) is an Offline tool for networked thoughts, unlike Roam Research or Notion, it is completely offline App. I invite your community to join us th

[2021-06-07 08:19] remote007 commented on #75
I'd like to work on it.

[2021-08-10 02:52] Niyati3031 commented on #153
Hello Myself Niyati,
I am beginner and would like to work on this can you provide all knowledge about prerequisites for this issue so i can get myself all equipped for this.
I am interested in contributing...please guide me.

[2022-08-14 03:34] mutazawad991 opened #180 "Mutaz Awad"

[2022-08-14 03:34] mutazawad991 commented on #180
😜

[2022-09-29 10:02] Ijaiswalshivam opened #181 "Offline Dictonary"
**This is a(n):**

- [x] New feature proposal
- [x] Reporting a keyword
- [x] Error
- [x] Proposal to the Search Engine
- [x] Other

**Details:**

**Expected Behavior**:

**Actual Behavior**:

**Screenshots (if any)**:

**Would you like to work on this issue?**

- [x] Yes
- [ ] No